streamlit
pandas
numpy
matplotlib
warnings
seaborn
LinearRegression
RandomForestClassifier 
accuracy_score
confusion_matrix
precision_score
recall_score
ConfusionMatrixDisplay
classification_report
RandomizedSearchCV
train_test_split
randint
export_graphviz
Image